DATABASE_URL=your_db_url_here
OPENAI_API_KEY=your_api_key_here

AUTH_USERS={"user_1": "$$2b$$12$$gTgsLEND/Swn8tyfx7VvHOK0UQ8JGdnCbSrn/Wz.jKAdG1a.nwGQK", "user_2": "$$2b$$12$$1Ppnv.5K/AcJMH73mK5R.OGwvFnF.mFa/QMixZfnULVg77V/ap8VW", "user_3": "$$2b$$12$$7oyV/6gh3eNkKGkwPPKz5.Gv2mdVdDcthllQ.JknNwdTNm5hTDEFO", "user_4": "$$2b$$12$$crvdQIsYF.i8OmQrgURrsO3IyGinkKLKBWOD7DDa0OlMT6jzZj1nS", "user_5": "$$2b$$12$$RF1N8EMrcGHyZVqAbwsAleCq5a1AZn4zINHBG3bYj.53ANOOfHiZ6"}